body {
  color: #F3F6F4;
  height: 100vh;
  overflow-y: auto;
  position: relative;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(18,18,19);
  background: linear-gradient(40deg, rgba(18,18,19,1) 0%, rgba(62,62,66,1) 41%, rgba(64,224,208,1) 100%);
  z-index: -1;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.comment {
    border-radius: 4px;
    border: 1px solid #40e0d0;
}
.comment-content {
  margin-left: 5px;
}
.comlike-button,
.like-button {
  margin: 0;
  padding: 4px;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.comdislike-button,
.dislike-button{
  margin: 0;
  padding: 4px;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.submit-button {
  margin-top: 5px;
}
.like-number {
  display: flex;
  justify-content: center;
  color: green;
}

.dislike-number {
  display: flex;
  justify-content: center;
  color: red;
}

.comlike-number {
  display: flex;
  justify-content: center;
  color: green;
}

.comdislike-number {
  display: flex;
  justify-content: center;
  color: red;
}


.header-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  margin: 0;
  font-size: 58px;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: #F3F6F4;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.selected {
  font-weight: bold;
}
.dropdown-content a {
  color: #3e3e42;
  text-decoration: none;
  display: block;
  padding: 12px 16px;
}

.show {display: block;}

.dropdown-content a:hover {
  background-color: #dadddb;
}

.header-link {
  color: #40e0d0;
  text-decoration: none;
}

.header-link:visited {
  color: #40e0d0;
}

.post-username-link {
  color: #40e0d0;
}

.post-username-link:visited {
  color: #40e0d0;
}
.textarea {
    background-color: #3e3e42;
    color: #F3F6F4;
    padding: 10px;
    border: 1px solid #3e3e42;
    border-radius: 4px;
    resize: none;
    width: 100%;
    height: 65px;
  }

  .channel-container {
    background-color: #3e3e42;
    padding: 2px;
    margin-bottom: 10px;
    border-radius: 5px;
  }

  .channel-link {
    color: inherit;
    text-decoration: none;
  }

  .icon {
    width: 40px;
    height: 20px;
  }
  .textarea:focus {
    outline: none;
    border-color: #40e0d0;
    box-shadow: 0 0 5px #39c9bb;
  }

.error-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
}

.post {
    padding: 2px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #40e0d0;
    align-items: center;
  }

  .post-content {
    background-color: #3e3e42;
    padding: 10px;
    border-radius: 5px;

  }
  .post-stats button {
    margin-right: 160px;
  }
  .post-stats {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }

  .post-stats p {
    margin-right: 20px;
  }
.App {
  max-width: 600px;
  margin: 10px auto;
  padding: 40px;
  background-color: #2d2d30;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
}

.appear {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.bounce-animation {
  animation: bounce 0.5s;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}

h1 {
  font-size: 36px;
  margin-bottom: 30px;
}
a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  color: white;
  text-decoration: none;
  background-color: #40e0d0;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

a.button:hover {
  background-color: #39c9bb;
}

button,
.LinkButton {
  text-decoration: none;
  background-color: #40e0d0;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #39c9bb;
}
.button-container {
  display: flex;
  gap: 20px;
}

.login-profile-container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.comment-title-and-dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my-profile-button {
  padding-right: 50px;
}

.log-out-button {
  padding-left: 50px;
}

.channel-button-index {
  margin-bottom: 10px;
}

.App input[type="text"],
.App input[type="password"],
.App input[type="email"] {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
}
.App input[type="text"]:focus,
.App input[type="password"]:focus,
.App input[type="email"]:focus {
  outline: none;
  border: 2px solid #40e0d0;
}
