body {
  color: #F3F6F4;
  height: 100vh;
  overflow-y: auto;
  position: relative;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.postImage {
  width: 575px;
  height: auto;
}

body:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #424244;
  z-index: -1;
}

.logo-image {
  width: 300px;
  height: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.comment {
    border-radius: 4px;
    border: 1px solid #F3A83C;
}
.comment-content {
  margin-left: 5px;
}

.comdislike-button,
.dislike-button,
.comlike-button,
.like-button {
  margin: 0;
  padding: 4px;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.comreport-post,
.report-post {
  margin: 0;
  margin-right: 5px;
  margin-left: auto;
  padding: 4px;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: flex-end;
  display: flex;
}

.submit-button {
  margin-top: 5px;
}
.like-number {
  display: flex;
  justify-content: center;
  color: green;
}

.dislike-number {
  display: flex;
  justify-content: center;
  color: red;
}

.comlike-number {
  display: flex;
  justify-content: center;
  color: green;
}

.comdislike-number {
  display: flex;
  justify-content: center;
  color: red;
}


.header-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  margin: 0;
  font-size: 58px;
}

.header-link {
  color: #40e0d0;
  text-decoration: none;
}

.header-link:visited {
  color: #40e0d0;
}

.post-username-link {
  color: #40e0d0;
}

.post-username-link:visited {
  color: #40e0d0;
}

.post-button {
  margin-top: 10px;
}

.user-content {
  display: flex;
}

.delete-channel-button {
  margin-right: 20px;
  background-color: red;
}

.delete-channel-button:hover {
  background-color: darkred;
}

.moderate-channel-button {
  margin-right: 10px;
}

.posts {
  flex: 1;
  margin-right: 20px;
}

.user-channels {
  flex: 1;
}

.textarea {
    background-color: #3e3e42;
    color: #F3F6F4;
    padding: 10px;
    border: 1px solid #3e3e42;
    border-radius: 4px;
    resize: none;
    width: 100%;
    height: 65px;
  }

  .textareaTitle {
    background-color: #3e3e42;
    color: #F3F6F4;
    padding: 10px;
    border: 1px solid #3e3e42;
    border-radius: 4px;
    resize: none;
    width: 100%;
    height: 20px;
    margin-bottom: 10px;
  }




  .channel-container {
    background-color: #3e3e42;
    padding: 2px;
    margin-bottom: 10px;
    border-radius: 5px;
    max-width: 540px;
  }

  .channel-link {
    color: inherit;
    text-decoration: none;
    word-break: break-all;
  }

  .icon {
    width: 40px;
    height: 20px;
  }
  .textarea:focus,
  .textareaTitle:focus {
    outline: none;
    border-color: #FBEAAB;
    box-shadow: 0 0 5px #F3A83C;
  }

  .channel-link {
    display: flex;
    align-items: center;
  }

  .channel-container {
    display: flex;
    align-items: center;
  }

  .channel-name {
    word-break: break-all;
  }

  .channel-button-container {
    display: flex;
    flex-direction: column;
  }
  .delete-channel-form,
  .moderate-channel-form {
    margin-bottom: 10px;
  }

.error-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
}

.post {
    padding: 2px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #F3A83C;
    align-items: center;
    max-width: 680px;
  }

  .post-content {
    background-color: #3e3e42;
    padding: 10px;
    border-radius: 5px;
    word-break: break-all;
  }
  .post-title {
    word-break: break-all;
  }
  .post-stats button {
    margin-right: 10px;
  }
  .post-stats {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }

  .post-stats p {
    margin-left: 20px;
  }
.App {
  max-width: 600px;
  margin: 10px auto;
  padding: 40px;
  background-color: #2d2d30;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
}

.App-userpage {
  max-width: 1000px;
  margin: 10px auto;
  padding: 40px;
  background-color: #2d2d30;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
}

.appear {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.bounce-animation {
  animation: bounce 0.5s;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}

h1 {
  font-size: 36px;
  margin-bottom: 30px;
}
a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  color: white;
  text-decoration: none;
  background-color: #F3A83C;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

a.button:hover {
  background-color: #DA9736;
}

button,
.LinkButton {
  text-decoration: none;
  background-color: #F3A83C;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #DA9736;
}
.button-container {
  display: flex;
  gap: 20px;
  align-items: center;
}

.channel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#createChannel {
  height: 60px;
}

#createChannelFormContainer {
  display: none;
}

#enterChannelKeyContainer {
  display: none;
}

#searchPostContainer {
  display: none;
}

.channel-button-index {
  display: inline-block;
  margin-right: 40px;
}

.login-profile-container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.comment-title-and-dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my-profile-button {
  padding-right: 50px;
}

.log-out-button {
  padding-left: 50px;
}

.channel-button-index {
  margin-bottom: 10px;
}

.App input[type="text"],
.App input[type="password"],
.App input[type="email"] {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
}
.App input[type="text"]:focus,
.App input[type="password"]:focus,
.App input[type="email"]:focus {
  outline: none;
  border: 2px solid #F3A83C;
}

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 300px;
  text-align: center;
  border-radius: 5px;
}

.modal-text {
  color: black;
}

.modal-buttons {
  margin-top: 20px;
}
