<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forum - Channels</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="header-link">
        <h1 class="header-title">
            <form action="/profile/<%= username %>" method="GET" class="my-profile-button">
              <button type="submit">My profile</button>
            </form>
          <a href="/">
            <img src="/icons/logo.png" alt="Logo" class="logo-image" />
          </a>
          <form action="/logout?_method=DELETE" method="POST" class="log-out-button">
            <button type="submit">Log Out</button>
          </form>
        </h1>
      </div>
    <div class="App" id="Appid">
      <h1>Channels</h1>
      <div class="channel-container">
        <a href="/" class="channel-link">
            <h1>Global</h1>
        </a>
      </div>
    </div>
    <script>
        window.addEventListener("load", function () {
          var div = document.getElementById("Appid");
          div.classList.add("appear");
        });
      </script>
  </body>
</html>
