<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forum - Channels</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="header-link">
      <h1 class="header-title">
        <a href="/">
          <img src="/icons/logo.png" alt="Logo" class="logo-image" />
        </a>
      </h1>
    </div>
    <div class="App">
      <h1>Channels</h1>
    </div>
  </body>
</html>
