<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/main.css" rel="stylesheet" type="text/css" />
    <title>HushHub Moderate</title>
</head>
<body>
    <div class="App-userpage" id="Appid">
        <h1>Moderate</h1>
    </div>
    <script>
        window.addEventListener("load", function () {
          var div = document.getElementById("Appid");
          div.classList.add("appear");
        });
    </script>
</body>
</html>