body {
  background-color: #40E0D0;
}

.App {
  max-width: 600px;
  margin: 10px auto;
  padding: 40px;
  background-color: #F9FAFB;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}

.title-header {
  font-size: 36px;
  margin-bottom: 30px;
}

button, .LinkButton {
  text-decoration: none;
  background-color: #40E0D0;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #39C9BB;
}
.button-container {
  display: flex;
  gap: 10px;
}